a:link,
a:visited {
    // background-color: #5344c7;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    // text-align: center;
    // text-decoration: none;
    display: inline-block;
    list-style: none;
}

h3 {
    font-style: italic;
}

.column {
    column-count: 2;
    margin-top: auto;
    clear: both;
    align-self: start;
}
h3{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.sidebar {
    display: flex;
    position: sticky;
    align-items: right;
    align-self: start;
    list-style: none;
    padding: 5px;
    z-index: 1;
}

p, li {
    padding-left: 10px;
    font-weight: bold;
}

.blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.heading {
    font-weight: bold;
    text-align: center;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

.avatar {
    // border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
}

.centerimage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    height: auto;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}


.container {
    width: 80%;
    padding: 5px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 10px;
    // background-color: white;
}

#top,
#bottom,
#left,
#right {
    background: rgba(139, 68, 20, 0.418);
    position: fixed;
    z-index: -1;
}
#left,
#right {
    top: 0;
    bottom: 0;
    width: 15px;
}
#left {
    left: 0;
}
#right {
    right: 0;
}

#top,
#top {
    top: 0;
}
