a:link,
a:visited {
    // background-color: #5344c7;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    // text-align: center;
    // text-decoration: none;
    display: inline-block;
    list-style: none;
}

// .column {
//     column-count: 2;
//     margin-top: auto;
//     clear: both;
//     align-self: start;
// }


// .sidebar {
//     display: flex;
//     position: sticky;
//     align-items: right;
//     align-self: start;
//     list-style: none;
//     padding: 5px;
//     z-index: 1;
// }

// h2{
//     padding-bottom: 10px
// }
// p, li {
//     // padding-left: 10px;
//     font-size: 16px
//     // font-weight: bold;
// }

// .blockquote {
//     background: #f9f9f9;
//     border-left: 5px solid #ccc;
//     margin: 1.5em 10px;
//     padding: 0.5em 10px;
//     quotes: "\201C""\201D""\2018""\2019";
// }

// h3 {
//     font-weight: bold !important;
//     font-style: italic;
//     text-align: center;
//     padding-bottom: 30px;
// }

// blockquote:before {
//     color: #ccc;
//     content: open-quote;
//     font-size: 4em;
//     line-height: 0.1em;
//     margin-right: 0.25em;
//     vertical-align: -0.4em;
// }
// blockquote p {
//     display: inline;
// }

// .avatar {
//     // border: 1px solid #ddd;
//     border-radius: 50%;
//     padding: 5px;
//     width: 150px;
// }


// #top,
// #bottom,
// #left,
// #right {
//     background: rgba(139, 68, 20, 0.418);
//     position: fixed;
//     z-index: -1;
// }
// #left,
// #right {
//     top: 0;
//     bottom: 0;
//     width: 15px;
// }
// #left {
//     left: 0;
// }
// #right {
//     right: 0;
// }

// #top,
// #top {
//     top: 0;
// }
